:root {
  --primaria: #694df9;
}
.pagetoda {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 82vh;
}
.page {
  height: 30vh;
  width: 20vw;
  margin: 5em 0px 0px 5em;
}

.tituloinfo {
  user-select: none;
  font-family: "inter-bold";
  margin-bottom: 5px;
}
.desc {
  width: 400px;
}
.descprod {
  font-family: "inter-regular";
}
.informa {
  margin-top: 10vh;
  height: 30vh;
  padding: 4vh;
  display: flex;
  flex-direction: column;
}
.aaaa {
  height: 70vh;
}
.minititulo {
  user-select: none;
  margin-top: 10px;
  font-family: "inter-semibold";
}
.nm {
  font-family: "inter-regular";
}
.div1 {
  width: 300px;
}
.page2 {
  margin-top: 10vh;
  height: 70vh;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.botao1 {
  border: none;
  outline: none;
  width: min-content;
  background-color: transparent;
  font-family: "inter-regular";
  font-size: 15px;
  width: auto;
  color: white;
  text-decoration: none;
}
.imagem-detalhe{
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.164));
  margin-top: 2vh;
  border: #694df9 1px solid;
  border-radius: 3px;
  height: 15vh;
  width:  12.5vw;
  margin: 1px 1px 1px 1px;
}

@media(max-width: 1280px) {

}