:root {
  --primaria: #694df9;
}

.parte1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}


.pagetoda {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 82vh;
}
.page {
  height: 70vh;
  padding: 4vh;
}

.tituloinfo {
  font-family: "inter-bold";
  margin-bottom: 5px;
}
.desc {
  width: 400px;
}
.descprod {
  font-family: "inter-regular";
}
.informa {
  margin-top: 30px;
  height: 70vh;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  width: 140px;
}
.aaaa {
  height: 70vh;
}
.minititulo {
  margin-top: 10px;
  font-family: "inter-semibold";
}
.nm {
  font-family: "inter-regular";
}
.div1 {
  width: 300px;
}
.page2 {
  margin-top: 30px;
  height: 70vh;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.botao1 {
  border: none;
  outline: none;
  width: min-content;
  background-color: transparent;
  font-family: "inter-regular";
  font-size: 15px;
  width: auto;
  color: white;
  text-decoration: none;
}