.feed-content {
  display: flex;
  width: 100vw;
  height: 82vh;
  flex-direction: column;
  align-items: center;
}

.sec-cards {
  display: flex;
  width: 92vw;
  justify-content: space-around;
  margin-top: 5em;
  height: 40vh;
  align-items: flex-start;
  flex-wrap: wrap;
}
.propraganda {
  display: flex;
  flex-direction: row;
  width: 90vw;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.24);
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 2em;

  h1 {
    width: 15em;
  }
  .propaganda-imgs {
    display: flex;
  }
}
.titulo {
  margin-left: 10vw;
  width: 20vw;
  line-height: 5vh;
  color: #000;
  font-family: "inter-bold";
}
.imagempropa {
  width: 10vh;
}
.card-button{
  height: 2em;
}
.c-botao5{
  cursor: pointer;
  border: none;
  font-family: "inter-regular";
  font-weight: 600px;
  text-decoration: none;
  font-size: 0.7em;
  color: #fff;
  background-color: #694df9;
  width: max-content;
  height: max-content;
  padding: 15px 30px;
  border-radius: 999px;
}
.nav-btn {
  display: flex;
  width: 90vw;
  height: 3em;
  justify-content: space-between;
  margin: 1em 0em 0em 2em;
}
.input-search {
  width: 25em;
  height: 3em;
  line-height: 1.75em;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 0.5em;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
  font-family: "inter-regular";
}
.input-search::placeholder {
  color: #9e9ea7;
}

.input-search:focus,
.input-search:hover {
  outline: none;
  border-color: transparent;
  background-color: #fff;
  box-shadow: 0 0 0 4px #8871fa;
}