:root {
  --primaria: #694df9;
}

header {
  display: flex;
  height: 18vh;
  flex-direction: column;
  width: 100vw;
  background-color: var(--primaria);  
}
.botaoanuncio{
  border: none;
  outline: none;
  width: min-content;
  background-color: transparent;
  font-family: 'inter-regular';
  font-size: 15px;
  width: auto;
  color: white;
  text-decoration: underline;
  cursor:default;
}

.cima{
  display: flex;
  padding: 20px 30px 0px 30px;
  width: 100%;  
  height: 9vh;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: min-content;
}

.logo-flux {
  font-family: "inter-bold";
  font-size: 24px;
  color: white;
}
.busca {
  display: flex;
  height: 55%;
  width: 40%;
  background-color: white;
  border-radius: 5px;
}

.pesquisa {
  width: 95%;
  height: 100%;
  border: none;
  border-radius: 5px 0px 0px 5px;
  background-color: transparent;
  outline: none;
}
.pesquisa2 {
  width: 100%;
  height: 5vh;
  border: 1px solid black;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}

.busca img{
  cursor: pointer;
}

.conta{
  display: flex;
  width: 5%;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.content{
  display: flex;
  width: 75%;
  margin-right: 10em;
  justify-content: space-around;
  height: 50%;
}

.baixo{
  display: flex;
  height: 9vh;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.categorias{
  border: none;
  outline: none;
  width: min-content;
  background-color: transparent;
  font-family: 'inter-regular';
  font-size: 15px;
  width: auto;
  color: white;
}



.categorias option{
  font-family: 'inter-regular';
  font-size: 16px;
  padding: 5px 0;
  height: 200px;
  color: black !important;
}

.faixa-variavel{
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  align-items: center;
  /*border: 1px solid red;*/
  margin-top: 1vh;
}

.a-fx1{
  color: black;
  font-family: 'inter-medium';
  font-size: 16px;
  text-decoration: none;
}
.a-fx12{
  color: black;
  font-family: 'inter-medium';
  font-size: 16px;
  text-decoration: underline 3px;
  text-decoration-color: #694df9;
}
.sub-fx{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%; 
}

.botao-fx-var{
  border: 15px solid #694df9;
  background-color: #694df9;
  color: white;
  font-size: 11px;
  font-family: 'inter-medium';
  font-weight: 300;
  border-radius: 25px;
  text-decoration: none;
}

.botao-fx-var :hover{
  cursor: pointer;
}

.lupinha-buscar{
  border: 1px solid black;
  width: 1.6vw;
  border-radius: 0px 6px 6px 0px;
  border-left: none;
  padding-right: 1vh;
}

.fx-2{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.cartao-anuncio{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 20vh;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.29);
  transition: 1s;
}
.cartao-anuncio:hover{
  transform: translateY(-5px);
  background-color: #694df9;
  color: white;
  border-radius: 1em;
}

.img-anuncio{
  animation: none;
}

.desc-anuncio{
  font-family: 'inter-regular';
  font-size: 16px;
  width: 16%;
}

.desc-anuncio-p1{
  color: #D9DBDD;
}

.info-anuncio{
  font-family: 'inter-medium';
  font-size: 16px;
  letter-spacing: -0.02em;
}

.edit{
  align-self: flex-end;
  margin-bottom: 2vh;
}

.botao1{
  border: none;
  outline: none;
  width: min-content;
  background-color: transparent;
  font-family: 'inter-regular';
  font-size: 15px;
  width: auto;
  color: white;
  text-decoration: none;
}
.edit path{
  transition: 1s;
}
.cartao-anuncio:hover path{
  fill: #D9DBDD;
}