:root {
  --primaria: #694df9;
}

.main-content {
  display: flex;
  height: 82vh;
  align-items: center;
  flex-direction: column;

  .navbar {
    display: flex;
    width: 80%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5em;
    margin-top: 1em;
  }

  .busca {
    border: 1px solid black;
    margin-left: 1em;
    width: 65%;
  }

  .nav-img {
    display: flex;
    width: 5%;
    justify-content: center;
  }

  .nav-btn {
    display: flex;
    width: 10%;
    justify-content: flex-end;
  }
  .anun-div-cards {
    display: flex;
    height: 90%;
    width: 80%;
    flex-direction: column;

    .card-desc {
      display: flex;
      flex-direction: column;

      width: 13em;
      height: 60%;
      justify-content: space-between;
      margin-left: 4em;

      span {
        color: rgba(255, 255, 255, 0.616);
      }
    }
    .anun-card {
      display: flex;
      width: 100%;
      cursor: pointer;
      margin-bottom: 4em;
      transition: 1.5s;
      background-color: #fff;
      padding: 0 5em;
      height: 22%;
      align-items: center;
      border-radius: 16px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
      .card-img {
        display: flex;
        height: 80%;
        width: 12%;
        transition: 1.5s;
      }
      
      p {
        transition: 3s;
        font-size: 1em;
        font-family: "inter-regular";
      }

      .card-info {
        display: flex;
        font-size: 1.5em;
        width: 70%;
        justify-content: space-around;
        transition: 1s;
      }
    }
    .anun-card:hover span {
      transition: 1.5s;
      color: #d9dbdd;
    }

    .anun-card:hover p {
      color: white;
      transition: 1s;
    }

    .anun-card:hover {
      background-color: #694df9;
      transition: all 0.4s;

      .svg {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
          saturate(0%) hue-rotate(21deg) brightness(106%) contrast(101%);
      }
    }

    .card-icons {
      display: flex;
      width: 3.5em;
      justify-content: space-between;

      img {
        cursor: pointer;
      }
      .svg {
        transition: 0s;
        filter: brightness(0) saturate(100%) invert(29%) sepia(89%)
          saturate(2969%) hue-rotate(240deg) brightness(98%) contrast(100%);
      }
    }
    .imagemsitee{
      width: 10em; 
      height: 6em;
      border-radius: 10px;
    }
  }
  .decorationtext{
    text-decoration: underline;
  }
}