:root {
	--primaria: #694df9;
}

.messageinput2 {
	height: 10vh;
	max-width: 40em;
	max-height: 10em;
}

.formulario {
	display: flex;
	padding: 1em;
	flex-direction: row;
	justify-content: space-around;
}

.DadosProduto {
	display: flex;
	flex-direction: column;
}

.anun-p {
	margin-top: 1.2em;
	font-size: 18px;
	font-family: "inter-regular";
}

.form-input {
	font-family: "inter-regular";
	border: 1px solid #e2dcff !important;
	border-radius: 6px !important;
	width: 20em;
	padding: 0.8em;
	height: 2.5em;
	transition: all 0.3s ease;
}

.form-input:focus {
	border: 1px solid #b1a3f3 !important;
	outline: none;
}

.form-input:hover {
	transition: all 0.3s ease;
	box-shadow: 0 0 0 2px rgba(105, 76, 234, 0.507);
}

textarea {
	font-family: "inter-regular";
	padding: 0.8em;
	outline: none;
	border: 1px solid #e2dcff !important;
	border-radius: 6px !important;
	transition: all 0.3s ease;
}

textarea:focus {
	border: 1px solid #b1a3f3 !important;
}

textarea:hover {
	transition: all 0.3s ease;
	box-shadow: 0 0 0 2px rgba(105, 76, 234, 0.507);
}

.field {
	margin-top: 20px;
	margin-bottom: 20px;
}

.field .categorias {
	border: 1px solid #e2dcff;
	padding: 5px;
	border-radius: 6px;
	font-size: 16px;
	color: black;
}

.formulario h1 {
	margin: 20px 0px 0px 0px;
}

.field .categorias:hover {
	border: 1px solid #b1a3f3;
}

.pp {
	margin: 0;
	font-size: 1em;
}

span {
	color: var(--primaria);
}

.imgs {
	margin: 10px 0px 0px 0px;
	cursor: pointer;
	border: 1px solid #b1a3f3;
	background-color: #e2dcff;
	font-family: "inter-medium";
	width: max-content;
	padding: 15px 20px;
	border-radius: 6px;
	font-size: 18px;
}

.publicaranuncio {
	display: flex;
	justify-content: center;
	button {
		cursor: pointer;
		font-family: inherit;
		font-size: 20px;
		background: #694df9;
		color: white;
		padding: 0.7em 1em;
		padding-left: 0.9em;
		display: flex;
		align-items: center;
		border: none;
		border-radius: 16px;
		overflow: hidden;
		transition: all 0.2s;
	}

	button span {
		color: #fff;
		display: block;
		margin-left: 0.3em;
		transition: all 0.3s ease-in-out;
	}

	button svg {
		display: block;
		transform-origin: center center;
		transition: transform 0.3s ease-in-out;
	}

	button:hover .svg-wrapper {
		animation: fly-1 0.6s ease-in-out infinite alternate;
	}

	button:hover svg {
		transform: translateX(1.8em) rotate(45deg) scale(1.1);
	}

	button:hover span {
		transform: translateX(5em);
	}

	button:active {
		transform: scale(0.95);
	}

	@keyframes fly-1 {
		from {
			transform: translateY(0.1em);
		}

		to {
			transform: translateY(-0.1em);
		}
	}
}
.titulo {
	font-family: "inter-bold";
}
.botao1 {
	border: none;
	outline: none;
	width: min-content;
	background-color: transparent;
	font-family: "inter-regular";
	font-size: 15px;
	width: auto;
	color: white;
	text-decoration: none;
}
.p-anunciar {
	font-family: "inter-semibold";
}
::placeholder {
	color: #a8a8a8;
}
input[type="file"] {
	display: none;
}
.div-escolherimagem {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}
/* From uiverse.io by @SanketSuryawanshi */
.main_div {
	--color: #694df9;
	position: relative;
	font-family: "inter-bold";
	padding: 1em 0em;
	font-size: 0.8em;
	background: #694df9;
	color: #fff;
	border: none;
	cursor: pointer;
	text-align: center;
	margin-left: 3em;
}

.main_div::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	background: transparent;
	top: -7px;
	left: -7px;
	z-index: -5;
	border-top: 3px solid var(--color);
	border-left: 3px solid var(--color);
	transition: 0.5s;
}

.main_div::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	background: transparent;
	bottom: -7px;
	right: -7px;
	z-index: -5;
	border-right: 3px solid var(--color);
	border-bottom: 3px solid var(--color);
	transition: 0.5s;
}

.main_div:hover::before {
	width: 100%;
	height: 100%;
}

.main_div:hover::after {
	width: 100%;
	height: 100%;
}

.imagempreenchida {
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
	margin-top: 2vh;
	border: #694df9 1px solid;
	border-radius: 3px;
	height: 15vh;
	width: 129%;
}
.Select-Anunciar {
	margin: 0.5em 0em 0.5em 0px;
	border: none;
	font-family: "inter-bold";
	color: #694df9;
	background-color: #fff;
}
form {
	width: 10em;
}
.ultrapassado {
	width: 5em;
	height: 10em;
	margin-right: 5em;
}

.titulo-ultra {
	font-family: "inter-bold";
	width: 8em;
}

.download-button {
	position: relative;
	border-width: 0;
	cursor: pointer;
	border: 1px solid red;
	transform: scale(1.5);
	color: white;
	font-family: "inter-regular";
	font-size: 1em;
	border-radius: 4px;
	z-index: 1;
}

.download-button .docs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.625em;
	min-height: 2.5em;
	padding: 0 0.925em;
	border-radius: 4px;
	z-index: 1;
	background-color: #694df9;
	transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 70%;
	max-height: 90%;
	margin: 0 auto;
	z-index: -1;
	border-radius: 4px;
	transform: translateY(5%);
	background-color: #212121;
	transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
	transform: translateY(100%);
}

.download svg polyline,
.download svg line {
	animation: docs 1s infinite;
}

@keyframes docs {
	0% {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(-15%);
	}

	100% {
		transform: translateY(0%);
	}
}
